/* Enter your custom styles here */
.grossAmount {
    font-size: 20px; /* Ajusta el tamaño según tus necesidades */
    font-weight: bold; /* Opcional: para hacer el número en negrita */
    margin-top: 10px;
}

.descripcion{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.objListAtribute{
    margin-top: 10px;
}